<div class="about">
  <% @title = "Jonathan Weyermann" %>
  <div class=''>
    <div role="main" class="group dashboard_header">
      <div class="col-sm-3 center">
          <%= image_tag "cartoon6.png", class: 'full-width' %>
      </div>
      <div class="col-sm-9 white center-xs">
        Hello, I'm 
        <h1 class="mt-0 display-4 font-weight-bold"><span class="">Jonathan Weyermann,</span></h1>
        <h1 class="mt-0 display-4 font-weight-bold"><span class="">web developer</span></h1>

        <h3 class="bio mt-3">
          I'm a seasoned full-stack developer with seven years of professional experience specializing in the design and implementation of complex, scalable web applications. I also share insights on web and personal development through my blog. Feel free to explore my <a href="#work">Work</a> and <%= link_to 'Resume', resume_path %> for more details.
        </h3>
      </div>
    </div>
  </div>
</div>



  <%= portfolios_presenter.visible_portfolios %>
  <div class="center mt2" id="work">
    <%= link_to 'View all Projects', portfolios_path, class: 'btn btn-primary rounded btn-lg center mt2' %>
  </div>


<div class="sidebar container">

  <div class="flex">
    <h1 class="flex1">Latest blog posts</h1>
    <h1 class="flex2"><hr /></h1>
  </div>
  <%= posts_presenter.visible_posts %>
  <div class="center">
    <%= link_to 'View all Posts', posts_path, class: 'btn btn-primary btn-lg rounded center' %>
  </div>
</div>
