<% @title = "#{post.title} - Jonathan Weyermann" %>
<div class="post-simple container post-container">
	<h1 class="page-header"><%= post.title %></h1>
	<small>Posted by <%= user.name %> on <%= post.visible_published_date.strftime('%B %e, %Y at %l:%M %p') %></small>
	<div>
		<%= image_tag post.image.url,width: '100%' %>
		<p>
		<%= raw post.body %>
		</p>
	</div>
</div>

<div class="container post-container">
	<%= render 'partials/comments'%>
</div>
