<!-- Comments -->
<div class="comments">
	<h2 class="page-header"><%= @post.comments.length %> Comments</h2>
	<%= render partial: 'partials/comment', collection: @post.root_comments %>

	<div class="well add-comment">
		<h2 class="page-header"><%= comment_descriptor %></h2>
		<a name="comment"></a>
		<% if flash[:notice] %>
			 <div class="alert alert-success"><%= flash[:notice] %></div>
		<% end %>
		<% if flash[:alert] %>
			 <div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>

		<%= simple_form_for [post, comment], html: { class: 'form-horizontal' } do |f| %>
		  <%= f.error :base, error_method: :to_sentence %>
			<%= f.hidden_field :reply_comment, value: params[:comment_id] %>
	    <%= f.input :name %>
	    <%= f.input :email, error: 'Please specify a valid email' %>
		  <%= f.input :body, label: "Comment", input_html: { rows: '8' } %>
		  <%= f.button :submit, "Submit Comment", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
