<!-- Comments -->
<div class="comments mlr-2">
	<h2 class="page-header"><%= post.comments.length %> Comments</h2>
	<%= render partial: 'partials/comment', collection: post.root_comments %>

	<div class="well add-comment">
		<h2 class="page-header"><%= comment_descriptor %></h2>
		<a name="comment"></a>
		<% if flash[:notice] %>
			 <div class="alert alert-success"><%= flash[:notice] %></div>
		<% end %>
		<% if flash[:alert] %>
			 <div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		<%= simple_form_for [post, post.comments.build(session[:comment]) ], html: { class: 'form-horizontal', data: { toggle: 'validator' }} do |f| %>
		  <%= f.error :base, error_method: :to_sentence %>
			<%= f.hidden_field :reply_comment, value: params[:comment_id] %>
	    <%= f.input :name, required: true, input_html: {maxlength: 60 } %>
	    <%= f.input :email, error: 'Please specify a valid email', required: true, type: 'email', input_html: { maxlength: 100 } %>
		  <%= f.input :body, required: true, label: "Comment", type: 'text', input_html: { rows: '8', maxlength: 3600 } %>
		  <%= f.button :submit, "Submit Comment", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
