<% @title = "#{post.title} - Jonathan Weyermann" %>
<div class="well post-simple">
	<h1 class="page-header"><%= post.title %></h1>
	<small><%= image_tag 'jonthumb.png', class:'thumb-small' %>Posted by <%= user.name %> on <%= post.visible_published_date.strftime('%B %e, %Y at %l:%M %p') %></small>
	<p>
		<%= image_tag post.image.url,width: '100%' %>
		<p>
		<%= raw post.body %>
		</p>
	</p>
</div>

<%= render 'partials/comments'%>
