<%= form_for [:admin, post, post_chunk] do |f| %>
  <!-- Check for errors -->
  <% if post.errors.any? %>
    <% post.errors.full_messages.each do |msg| %>
      <!-- Show errors -->
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, size: "15x40", class:'form-control froala_edit' %>
  </div>
  <br>

  <%= f.submit "Submit", class:'btn btn-primary' %>
  <%=link_to "Cancel", admin_posts_path, class:'btn btn-default' %>

<% end %>
