<div class="col-sm-6 equal">
  <div class="post">
      <div class="post-content subtle-links">
        <a href="<%= post_path(post) %>">
          <h2><%= post.title %></h2>
          <div class="">
            <%= image_tag post.image.url, class: 'img-crop' %>
          </div>
          <small><%= image_tag 'jonthumb.png', class:'thumb-small' %>Posted by <%= post.user.name  %> on <%= post.visible_published_date.strftime("%B %e, %Y at %l:%m %p") %></small>
          <%= raw post.body.truncate(400) %>
        </a>
      </div>
  </div>
</div>
