<% @title = "#{post.title} - Jonathan Weyermann" %>
<div class="post-simple container post-container">
	<h1 class="page-header"><%= post.title %></h1>
	<small><%= image_tag 'jonthumb.png', class:'thumb-small' %>Posted by <%= user.name %> on <%= post.visible_published_date.strftime('%B %e, %Y at %l:%M %p') %></small>
	<div>
		<%= image_tag post.image.url,width: '100%' %>
		<p>
		<%= raw post.body %>
		</p>
	</div>
	<%= render partial: 'post_chunks', locals: { post: post } %>
</div>

<div class="container post-container">
	<%= render 'partials/comments'%>
</div>

<div class="sidebar container">

  <h2 class="center mb1 mt1">Latest Blog Posts</h2>
  <%= limited_posts_presenter.visible_posts %>
  <div class="center">
    <%= link_to 'View all Posts', posts_path, class: 'btn btn-primary btn-lg center' %>
  </div>
</div>
