<div class="about">
  <% @title = "About Jonathan Weyermann" %>
  <div id="about" role="main" class="group">
    <h1>Welcome to my Homepage</h1>
    <section>
      <%= image_tag "Jonathan.png" %>
      <p>Jonathan Weyermann is a web developer currently working at Alberta Motor Association as part of the digital experience team</p>
    </section>
    <section>
      <div id="aboutfields">
        <%= image_tag "agile.jpg" %>
        <p>He works in an agile, open floor, team-based environment</p>
      </div>
      <div id="aboutfields">
        <%= image_tag "railslogo.png" %>
        <p>He writes primarily Ruby on Rails apps, but has recently been learning React and the Phoenix Framework</p>
      </div>
      <div id="aboutfields">
        <%= link_to (image_tag "github.png"), "https://github.com/weyermannx" %>
        <p>He loves git, and all of his work for AMA and some of his personal projects are available there<p>
      </p>
      </div>
      <div id="aboutfields">
        <%= image_tag "university_of_alberta.jpg" %>
        <p>He is a University of Alberta Computer Science graduate</p>
      </div>
    </section>
  </div>
</div>
