<div class="col-sm-6 equal">
  <div class="post">
      <div class="post-content">
        <h2><%= post.title %></h2>
        <div class="img-crop-surround">
          <%= image_tag post.image, class: 'img-crop' %>
        </div>
        <small><%= image_tag 'jonthumb.png', class:'thumb-small' %>Posted by <%= user.name  %> on <%= post.visible_published_date.strftime("%B %e, %Y at %l:%m %p") %></small>
        <%= raw post.body.truncate(400) %>
        <%=link_to "Read More", post_path(post), class:'btn btn-primary' %>
      </div>
  </div>
</div>
