<!DOCTYPE html>
<html lang="en">
  <head>
  	<title><%= @title || "Jonathan Weyermann" %></title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon4.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="slight-grey-background">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>
